.main_post {
  position: relative;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: auto;
}

.settings {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.197);
  border-radius: 20px;
  padding: 15px;
  padding-bottom: 40px;
  position: relative;
  margin: auto;
}
.settings_text {
  line-height: 1.5;
  font-size: 14px;
}
.settings_text img {
  margin-top: 10px;
  border-radius: 15px;
  border: 1px solid var(--bg-color);
}
.settings_text .codeium_img {
  width: 372px;
  height: 630px;
}
.settings_text .backticks_img {
  width: 473px;
  height: 380px;
}
.settings_text .errorlens_img {
  width: 474px;
  height: 490px;
}

.settings_text a {
  color: var(--text-color);
  transition: 0.3s;
  opacity: 0.9;
}
.settings_text a:hover {
  opacity: 1;
  transform: translateY(-5px);
}
.settings_text ul {
  list-style: none;
}

.copy_button {
  padding: 10px 15px 10px 15px;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.504);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 16px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.copy_button:hover {
  color: white;
  transform: translateY(-5px);
}

.settings b {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.wrapper {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .main-post {
    padding: 20px;
  }
  .wrapper {
    padding: 20px;
  }
  .settings {
    width: calc(100% - 10%);
    overflow: scroll;
  }
  .settings_text {
    font-size: 13px;
  }
  .settings_text .codeium_img {
    width: 280px;
    height: 473px;
  }
  .settings_text .backticks_img {
    width: 284px;
    height: 229px;
  }
  .settings_text .errorlens_img {
    width: 283.2px;
    height: 308.4px;
  }
  .copy_button {
    position: absolute;
    bottom: 2px;
    right: 0;
    font-size: 14px;
  }
  .settings b {
    display: none;
  }

}
