.header {
  font-weight: 500;
  font-size: 24px;
  display: flex;
  width: 100%;
  height: var(--header-height);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  background-size: 200% 100%;
  overflow: hidden;
  animation: running-gradient 3s linear forwards;
}

.header .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.name {
  margin-right: 10px;
}
.header_text a {
  color: var(--secondary);
}

.name {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
}
.name:hover {
  opacity: 0.8;
  transition: 0.2s;
}
.toggle_light_mode {
  margin-top: 3px;
  color: var(--text-color);
  background-color: var(--bg-color);
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
}
.toggle_dark_mode:hover,
.toggle_light_mode:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  .name {
    font-size: 20px;
  }
}
