.main_post {
  position: relative;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: auto;
}

.author_container {
  width: 100%;
  min-width: 300px;
  min-height: 350px;
  background-color: rgba(0, 0, 0, 0.197);
  border-radius: 20px;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 40px;
}
.author_card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 10px;
}
.author_card div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}
.author_info {
  font-size: 14px;
  text-align: start;
  line-height: 21.5px;
  margin-bottom: 5px;
}
.author_name {
  font-size: 20px;
  font-weight: 800;
}
.author_img {
  max-width: 300px;
  max-height: 400px;
  border-radius: 20px;
}

.card {
  width: 100%;
  min-width: 300px;
  min-height: 350px;
  background-color: rgba(0, 0, 0, 0.197);
  border-radius: 20px;
  padding: 15px;
  padding-bottom: 40px;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.card div {
  display: flex;
  justify-content: center;
}

.card .small {
  font-size: 22px;
}

.card .img_container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.card img {
  border-radius: 20px;
  max-width: 300px;
  max-height: 300px;
}
.mp_wrapper {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.header_container {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-bottom: 20px;
}

.header_container img {
  width: 85px;
  height: 85px;
  margin-bottom: 10px;
}

.music_container {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .main_post {
    padding: 20px;
  }
  .header_container h1 {
    font-size: 30px;
  }
  .header_container img {
    width: 65px;
    height: 65px;
  }
  .music_container {
    display: flex;
    gap: 40px;
    flex-direction: column;
  }
  .author_container {
    width: 100%;
    min-width: 200px;
    min-height: 250px;
    background-color: rgba(0, 0, 0, 0.197);
    border-radius: 20px;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 40px;
  }
  .author_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }
  .author_card div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .author_info {
    font-size: 14px;
    text-align: center;
    line-height: 21.5px;
    margin-bottom: 5px;
  }
  .author_name {
    font-size: 20px;
    font-weight: 800;
  }
  .author_img {
    max-width: 300px;
    max-height: 400px;
    border-radius: 20px;
  }
  .card {
    max-width: 300px;
    padding: 20px;
    max-height: 300px;
  }
  .card .small {
    font-size: 18px;
  }
  .card img {
    max-width: 170px;
    max-height: 170px;
  }
  .card h2 {
    font-size: 20px;
  }
  .card p {
    font-size: 14px;
  }
}
