html[data-theme='dark'] {
  --text-color: rgb(245, 245, 245);
  --bg-color: rgb(37, 37, 37);
}
* {
  margin: 0;
  padding: 0;
}
*::after, ::before {
  box-sizing: border-box;
}
:root {
  --bg-color: rgb(245, 245, 245);
  --text-color: rgb(37, 37, 37);
  --header-height: 60px;
  --footer-height: 60px;
  --gap: 24px;
  --main-width: 720px;
  --content-gap: 20px;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: .2s;
}

.header {
  font-weight: 700;
  font-size: 24px;
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  border-bottom: 3px solid var(--text-color);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  flex-direction: row;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
}
.main {
  position: relative;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: auto;
  padding: var(--gap);
}
.main .info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));
  text-align: center;
}
.info-container p {
  width: max-content;
  font-size: 20px;
  font-weight: 600;
  padding: 8px 0;
}
.info-container span {
  display: flex;
  width: max-content;
}
.name {
  color: var(--text-color);
  text-decoration: none;
}
.name-info {
  color: var(--text-color);
  text-decoration: none;
}
.name:hover, .name-info:hover {
  opacity: .8;
  transition: .2s;
}
.image {
  display: inline-table;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  -webkit-user-drag: none;
}
.toggle-dark-mode {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-mode-bg);
  color: var(--dark-mode-text);
  border: none;
  cursor: pointer;
  outline: none;
}
.toggle-dark-mode:hover {
  opacity: .8;
  transition: .2s;
}

.social-links {
  padding-top: 14px;
}
.projects-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: 2.5s anim-lineUp ease-out 0s;
}
.show-button {
  width: max-content;
  margin-top: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 10px;
  color: var(--bg-color);
  background-color: var(--text-color);
  border: none;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in;
  margin-bottom: 10px;
}

.show-button:hover {
  box-shadow: 0px 5px 20px rgba(238, 130, 238, 0.427);
  transform: scale(1.05);
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.project {
  cursor: pointer;
  color: var(--text-color);
}
.project:hover { 
  color: rgb(63, 15, 108);
  transition: .2s;
}

.main-about {
  position: relative;
  margin: auto;
  padding: 50px; 
}
.main-about .about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100px;
  text-align: center;
}
.about p {
  width: max-content;
  font-size: 20px;
  font-weight: 600;
  padding: 8px 0;
}
.about span {
  display: flex;
  width: max-content;
} 

 
 @media (max-width: 768px) {
  .name {
     font-size: 20px;
  }
 
  .image {
     width: 150px;
     height: 150px;
  }
 
  .social-links, .projects-list {
     padding-top: 10px;
  }
 
  .show-button {
     height: 25px;
     padding: 2px;
     font-size: 16px;
  }
 
  .project {
     font-size: 18px;
     padding: 8px 0;
  }
 }