@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800;900&display=swap');

html[data-theme='light'] {
  --text-color: rgb(37, 37, 37);
  --bg-color: e8e8e8;
  --circles-color: rgba(0, 0, 0, 0.2);
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
*::after,
::before {
  box-sizing: border-box;
}
:root {
  --text-color: e8e8e8;
  --bg-color: rgb(37, 37, 37);
  --circles-color: rgba(255, 255, 255, 0.2);
  --secondary: #1876d2;
  --header-height: 60px;
  --footer-height: 60px;
  --gap: 24px;
  --main-width: 720px;
  --content-gap: 20px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.2s;
  font-family: 'Montserrat', sans-serif;
  animation: animateOnLoad 0.5s linear;
}

@keyframes running-gradient {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--secondary);
  transform-origin: 0%;
  z-index: 10000;
}

.name-info {
  text-decoration: none;
  font-weight: 500;
}
.name-info:hover {
  opacity: 0.8;
  transition: 0.2s;
}
p,
div,
a:not(.footer_span) {
  text-underline-offset: 4px;
  text-decoration-thickness: 0.05rem;
}

li a {
  transition: 0.3s;
}
li a:hover {
  opacity: 0.8;
}

@keyframes animateOnLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  html[data-theme='light'] {
    --text-color: rgb(37, 37, 37);
    --bg-color: e8e8e8;
    --circles-color: rgba(0, 0, 0, 0.2);
  }
  html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
  }
  .name-info {
    font-size: 19px;
  }
  .show-button {
    font-size: 18px;
  }
}
